<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
 <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
 <clear />

 <add name="mssql-databasic-demo-mlm" connectionString="Data Source=TOM;Initial Catalog=DatabasicDemoMLM;Persist Security Info=True;User ID=sa;Password=1234;Connection Timeout=3" providerName="System.Data.SqlClient" />

 <add name="mysql-databasic-demo-mlm" connectionString="server=127.0.0.1;uid=root;pwd=1234;database=databasic_demo_mlm;" providerName="MySql.Data.MySqlClient" />

 <add name="pgsql-databasic-demo-mlm" connectionString="Server=127.0.0.1;Port=5432;Database=databasic_demo_mlm;User Id=postgres;Password=1234;" providerName="Npgsql" />

 <add name="sqlite-databasic-demo-mlm" connectionString="Data Source=c:\works\tec\vb\databasic\databases\sqlite\sqlite_databasic_demo_mlm.db;Version=3;" providerName="System.Data.SQLite" />


 <add name="mssql-databasic-demo-company" connectionString="Data Source=TOM;Initial Catalog=DatabasicDemoCompany;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
 <add name="Databasic.Example.MsSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DATABASE;User ID=USER_NAME;Password=PASSWORD;Persist Security Info=True;" providerName="System.Data.SqlClient" />
 <add name="Databasic.Example.MySql" connectionString="server=localhost;port=3306;uid=USER_NAME;pwd=PASSWORD;database=DATABASE;" providerName="MySql.Data.MySqlClient" />
 <add name="Databasic.Example.Oracle" connectionString="Data Source=localhost/orcl;User Id=USER_NAME;Password=PASSWORD;Integrated Security=yes" providerName="Oracle.DataAccess.Client" />
 <add name="Databasic.Example.SQLite" connectionString="Data Source=.\sqlite.db;Version=3;Password=PASSWORD;" providerName="SQLite.Data.SQLite" />
 <add name="Databasic.Example.PqSql" connectionString="Server=localhost;Port=5432;Database=DATABASE;User Id=USER_NAME;Password=PASSWORD;" providerName="Npgsql" />




  </connectionStrings>
  <appSettings>
    <add key="Desharp:Enabled" value="1" />
    <add key="Desharp:Output" value="html" />
    <add key="Desharp:Levels" value="+exception,debug,info,-notice,-warning,+error,+critical,alert,+emergency,javascript" />
    <add key="Desharp:Directory" value="~/logs" />
  </appSettings>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
