<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Databasic" version="1.1.0" targetFramework="net45" />
  <package id="Databasic.Core" version="1.1.0" targetFramework="net45" />
  <package id="Databasic.MsSql" version="1.1.0" targetFramework="net45" />
  <package id="Databasic.MySql" version="1.1.0" targetFramework="net45" />
  <package id="Databasic.OracleSql" version="1.1.1" targetFramework="net45" />
  <package id="Databasic.PostgreSql" version="1.1.0" targetFramework="net45" />
  <package id="Databasic.SQLite" version="1.1.1" targetFramework="net45" />
  <package id="Desharp" version="1.2.4" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Npgsql" version="3.2.5" targetFramework="net45" />
  <package id="Oracle.DataAccess.x86.4" version="4.112.3" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net45" />
</packages>